<mat-toolbar class="header-wrapper">
  <div class="menu-left">
    <div class="header-left-wrapper">
      <div class="header-left-menu-icon">
        <i class="fas fa-bars header-icon" (click)="openSideNav()"></i>
      </div>
      <div class="header-left-logo" (click)="onLogoClick()">Easytracking</div>
    </div>
  </div>
  <div class="header-right">
    <div class="header-right-wrapper">
      <div>
        <i class="fas fa-user-circle header-icon" [matMenuTriggerFor]="menuUser"></i>
        <mat-menu #menuUser="matMenu">
          <button mat-menu-item mat-line (click)="onProfileClick()">Profile</button>
          <button mat-menu-item mat-line (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <div>
        <i class="fas fa-cog menu-icon" [matMenuTriggerFor]="menuAdmin" *ngIf="isAdmin()"></i>
        <mat-menu #menuAdmin="matMenu">
          <button mat-menu-item mat-line (click)="onSprintAdminClick()">Sprint admin</button>
          <button mat-menu-item mat-line (click)="onUserAdminClick()">User admin</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<div toastContainer></div>
