<mat-toolbar class="header-wrapper">
  <div class="menu-left">
    <div class="menu-logo" (click)="onLogoClick()">Easytracking v3</div>
    <!--  <mat-icon class="menu-icon"-->
    <!--            color="link"-->
    <!--            (click)="openSideNav()">-->
    <!--    menu-->
    <!--  </mat-icon>-->
  </div>
  <div class="menu-right">
    <div class="menu-right-wrapper">
      <div>
        <i class="fas fa-user-circle menu-icon" [matMenuTriggerFor]="menuUser"></i>
        <mat-menu #menuUser="matMenu">
          <button mat-menu-item mat-line (click)="onProfileClick()">Profile</button>
          <button mat-menu-item mat-line (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <div>
        <i class="fas fa-cog menu-icon" [matMenuTriggerFor]="menuAdmin" *ngIf="isAdmin()"></i>
        <mat-menu #menuAdmin="matMenu">
          <button mat-menu-item mat-line (click)="onSprintAdminClick()">Sprint admin</button>
          <button mat-menu-item mat-line (click)="onUserAdminClick()">User admin</button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<div toastContainer></div>
