<div>
  <div class="box a" *ngIf="backlog && allUsers">
    <div *ngFor="let sprint of backlog.sprints" class="sprints-wrapper">
      <div>
        <app-tasks-table
          [tasks]="sprint.tasks"
          [sprint]="sprint"
          [allUsers]="allUsers"
          [showTableToggle]="true"
          hasFilter="true"
          tableTitle="Sprint {{sprint.sprintNumber}} tasks">
        </app-tasks-table>
      </div>
    </div>

    <div>
      <app-tasks-table
        [tasks]="backlog.backlogTasks"
        [allUsers]="allUsers"
        [sprint]="null"
        [showTableToggle]="true"
        hasFilter="true"
        tableTitle="Backlog tasks">
      </app-tasks-table>
    </div>
  </div>
</div>
