.main-wrapper {
  height: 100%;
}

.drawer-wrapper {
  background-color: white;
  height: 100%;
}

.main-drawer-content-wrapper {
  display: grid;
  grid-template-rows: max-content;
  height: 100%;
}

.main-drawer-content-header {
  height: 10%;
  min-height: 64px;
}

.main-drawer-content-content {
  height: 90%;
}
