<div class="side-drawer-wrapper">
  <div class="logo side-nav-item" [routerLink]="'/'">Easytracking</div>
  <div class="property-content">
    <mat-divider class="drawer-divider"></mat-divider>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/apartment'"><i class="fas fa-running"></i><span class="side-nav-item">Sprint</span></a>
      <a mat-list-item [routerLink]="'/backlog'"><i class="far fa-list-alt"></i><span class="side-nav-item"> Backlog</span></a>
      <mat-divider class="drawer-divider"></mat-divider>
      <a mat-list-item [routerLink]="'/apartment'"><i class="fas fa-sitemap"></i><span class="side-nav-item">Project Management</span></a>
      <a mat-list-item [routerLink]="'/house'"><i class="fas fa-exchange-alt"></i><span class="side-nav-item">Switch Project</span></a>
      <a mat-list-item [routerLink]="'/admin/users'"><i class="fas fa-users"></i><span class="side-nav-item">User Management</span></a>
      <mat-divider class="drawer-divider"></mat-divider>
      <a mat-list-item (click)="onProfileClick()" *ngIf="isAuthenticated()"><i class="fas fa-user"></i><span class="side-nav-item">Profile</span></a>
      <a mat-list-item (click)="onLogoutClick()" *ngIf="isAuthenticated()"><i class="fas fa-sign-out-alt"></i><span class="side-nav-item">Logout</span> </a>
    </mat-nav-list>
  </div>
</div>
