<div class="task-dialog-wrapper" [formGroup]="data.boardItemForm">
  <div class="task-dialog-title">
    <mat-form-field class='task-dialog-title-input'>
      <input matInput
             placeholder="Task title"
             formControlName='name'>
    </mat-form-field>
  </div>
  <div class="task-dialog-description">
    <mat-form-field class='task-dialog-description-textarea'>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="6"
                placeholder='Description'
                formControlName='description'>
      </textarea>
    </mat-form-field>
  </div>
  <div class="task-dialog-details">
    <div class="task-dialog-details-wrapper">
      <div class="task-dialog-details-status">
        <mat-form-field>
          <mat-select
            class="task-dialog-details-status-select"
            placeholder='Status'
            formControlName='status'>
            <mat-option *ngFor='let status of data.statusList'
                        value={{status}}>
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="task-dialog-details-user">
        <mat-form-field class="text-input-half-width">
          <mat-select placeholder='Owner ' formControlName='user'>
            <mat-option *ngFor='let user of data.allUsers'
                        [value]='user'>
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="task-dialog-details-estimation">
        <mat-form-field class="text-input-half-width">
          <input matInput
                 placeholder='Estimation'
                 formControlName='estimation'>
        </mat-form-field>
      </div>
      <div class="task-dialog-details-priority">
        <mat-form-field class="text-input-half-width">
          <input matInput
                 placeholder='Priority'
                 formControlName='priority'>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="task-dialog-buttons">
    <div class="task-dialog-buttons-wrapper">
      <button mat-raised-button (click)='onNoClick()'>Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]='data'>Save</button>
    </div>
  </div>
</div>
