.task-dialog-wrapper {
  min-width: 800px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1%;
  font-size: 14px;
}

.task-dialog-title {
  grid-column: 1 / 7;
}

.task-dialog-description {
  grid-column: 1 / 7;
}

.task-dialog-status {
  grid-column: 1 / 2;
}

.task-dialog-user {
  grid-column: 2 / 3;
}

.task-dialog-estimation {
  grid-column: 3 / 4;
}

.task-dialog-priority {
  grid-column: 4 / 5;
}

.task-dialog-buttons {
  /*grid-column: 1 / 3;*/
}

.task-dialog-priority-input {
}

.task-dialog-estimation-input {
}

.task-dialog-status-select {
}

.task-dialog-user-select {
}

.task-dialog-title-input {
  width: 100%;
}

.task-dialog-description-textarea {
  width: 100%;
}

.task-dialog-buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5%;
}

.task-dialog-button-cancel {
}
.task-dialog-button-save {
}
