
.sprint-list-item {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: #444444;
}

.sprint-list-item:hover {
  background-color: yellow;
}

.table-cell:hover {
  cursor: pointer;
  text-decoration: underline;
}

.table-wrapper {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
}

.filter {
  font-size: 12px;
}

.menu-two-table-filter {
  height: 5px;
}

.table-header {
  display: grid;
  grid-template-columns: 170px 230px 50px auto;
  grid-template-rows: 1fr;
  align-items: baseline;
}

.table-toggle {
  font-size: 14px;
  color: dodgerblue;
}

.table-toggle:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.table-title {
  font-size: 20px;
}

.add-task {
  font-size: 20px;
}

.add-task:hover {
  cursor: pointer;
  color: dodgerblue;
}
